<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>

    <typeAliases>
        <package name="org.scoula.board.domain" />
    </typeAliases>
<!-- 이거 하면 resources :: BoardMapper.xml에 resultType="BoardVO"만 쓸 수 있다.-->
</configuration>
